<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    
    <uses-permission android:name="android.permission.INTERNET" />
    
    <application
        android:label="TextFixer"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/TransparentTheme"
            android:windowSoftInputMode="adjustResize"
            android:label="TextFixer"
            android:noHistory="true"
            android:excludeFromRecents="true"
            android:taskAffinity=""
            android:finishOnTaskLaunch="true"
            android:clearTaskOnLaunch="true"
            android:screenOrientation="behind">
            
            <!-- Standard launcher intent -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            
            <!-- Handle text selection from other apps -->
            <intent-filter android:priority="100">
                <action android:name="android.intent.action.PROCESS_TEXT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
            
            <!-- Handle share menu -->
            <intent-filter android:priority="50">
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
            
            <!-- Additional share intent for better compatibility -->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:mimeType="text/*" />
            </intent-filter>
            
        </activity>
        
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
    
    <!-- Target newer SDK versions -->
    <uses-sdk android:minSdkVersion="21" android:targetSdkVersion="34" />
</manifest>